[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/nukah/hugo-theme-terminal.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
