:root {
  --maincolor: #FF8983;
  --bordercl: #FF818F;
  --callouctcolor: #FCCA46;
  --hovercolor: #FFC0B8;
  --darkMaincolor: #8CA0D7;
}

a:hover {
  color: #C25452;
}

.table-of-content h3:before {
  content: '';
}

.table-of-content h3 {
  background-color: #FFE4DF;
  color: #560000;
  display: inline-block;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.article-meta {
  font-size: 15px;
  font-weight: 500;
  text-transform: lowercase;
}

code {
  background-color: #FFE4DF;
  padding: .1em .2em;
  color:#C25452;
}

html {
  color: #402E32;
  font-family: 'Ubuntu+Mono', monospace;
  font-size: 17px;
  line-height: 1.8em;
  background-color:#DFE0DF;
}

p {
  font-family: 'Ubuntu+Mono', monospace;
  line-height: 1.5;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

